$clrBg1: #252423;
$clrBg2: #2c2c2c;
$clrBlue: #2bd2f7;
$clrWhite: #fff;

$headerHeight: 80px;

$containerWidth: 995px;
$containerHeaderWidth: 1230px;
$containerMiniWidth: 750px;
$containerSidePadding: 20px;

$btnHeight: 39px;
